<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column align-items-center">
    <h1 class="m-3">Create Post</h1>
    <div class="newpostcontainer mx-auto mt-5 p-4 border border-primary rounded" style="width: 30%;">
        <form method="post" action="{{ url_for('create_post') }}" enctype="multipart/form-data">
            <div class="title d-flex flex-column justify-content-center align-items-center">
                <input type="text" class="titletext form-control mb-3" id="title" name="title"
                    placeholder="Write your title here" style="text-align: center;" required>
            </div>

            <div class="postcontent mt-3">
                <textarea type="text" class="contenttext form-control" id="content" name="content"
                    placeholder="What's on your mind?" style="height: 50px; text-align: center;" required></textarea>
            </div>
            <div class="form-group">
                <label for="customFile" class="form-label">Upload File</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="media">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <div class="postbuttons d-flex justify-content-between pt-4">
                <div class="cancelbutton">
                    <a class="cancel text-secondary" href="{{ url_for('author_panel') }}">Cancel</a>
                </div>
                <div class="createbutton">
                    <input type="submit" value="Post" class="btn btn-link text-primary fw-bold">
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>